<footer class="footer">
    <div class="content has-text-centered">
      <p>
        <strong>E-mail</strong> info@radotinocni.cz<br/>
        <strong>OPHTALEA,&nbsp;s.r.o.</strong><br/>
        <strong>IČO</strong>&nbsp;271&nbsp;91&nbsp;630<br/>
        <strong>Jednatel</strong> MUDr.&nbsp;Jana&nbsp;Brychtová<br/>
        <strong>Spisová značka</strong> C&nbsp;103275 vedená u Městského soudu v Praze<br/>
        <strong>Sídlo</strong> Tachovská 1156/32, 153 00  Praha 16 – Radotín<br/>
      </p>
    </div>
</footer>
